# Include license and readme
include LICENSE
include README.md
include pyproject.toml

# Include CMake files and all generated sources (including Armadillo)
recursive-include src/pymole/cpp *

# Include build tools
recursive-include build_tools *.py

# Include tests
recursive-include tests *.py
